/*
VARIABLES
*/

// Typography
$text-font-family: "roice-r", sans-serif;
$text-font-weight: 400;
$heading-font-family: "roice-msc", sans-serif;
$heading-font-weight: 500;
$strong-font-family: "roice-m", sans-serif;
$strong-font-weight: 500;

$font-size-base: 20px;
$line-height-base: 1.2;


// Media queries breakpoints
// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;